/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
/*  */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    overflow-y: hidden;
}
main {


}
.card {
    height: 300px;
    width: 400px;
    border: 2px solid black;

}
svg {
    margin-bottom: 20px;
}
h1 {
    font-family: 'Overpass', sans-serif;
}
p {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    width: 330px;
}